@page "/counter"
@inject Common.AppState State
<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<br />
State.ManuallySetProperty = @State.ManuallySetProperty
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
