@using Razor.Templates
@using Razor.Templating.Core
@inject Common.AppState State
@page "/"

<h1>DI Issue</h1>


<button @onclick="GetInvoice">Get Invoice</button>
<br />
State.ManuallySetProperty = @State.ManuallySetProperty
<div style="border: 1px solid black">
    @((MarkupString)html)
</div>
@code {
    string html;

    protected override void OnInitialized()
    {
        State.ManuallySetProperty = "Set in initialized.";
        base.OnInitialized();
    }

    async Task GetInvoice()
    {
        var invoiceModel = new Invoice
        {
            InvoiceNumber = "3232",
            CreatedDate = DateTime.Now,
            DueDate = DateTime.Now.AddDays(7),
            CompanyAddress = new Address
            {
                Name = "XY Technologies",
                AddressLine1 = "XY Street, Park Road",
                City = "Chennai",
                Country = "India",
                Email = "xy-email@gmail.com",
                PinCode = "600001"
            },
            BillingAddress = new Address
            {
                Name = "XY Customer",
                AddressLine1 = "ZY Street, Loyal Road",
                City = "Bangalore",
                Country = "India",
                Email = "xy-customer@gmail.com",
                PinCode = "343099"
            },
            PaymentMethod = new PaymentMethod
            {
                Name = "Cheque",
                ReferenceNumber = "94759849374"
            },
            LineItems = new List<LineItem>
    {
            new LineItem
            {
            Id = 1,
            ItemName = "USB Type-C Cable",
            Quantity = 3,
            PricePerItem = 10.33M
            },
               new LineItem
            {
            Id = 1,
            ItemName = "SSD-512G",
            Quantity = 10,
            PricePerItem = 90.54M
            }
        },
            CompanyLogoUrl = "https://raw.githubusercontent.com/soundaranbu/RazorTemplating/master/src/Razor.Templating.Core/assets/icon.png"
        };
        html = await RazorTemplateEngine.RenderAsync("~/Invoice.cshtml", invoiceModel);
    }
} 